@import '~bootstrap/scss/functions';

@font-face {
    font-family: 'TitilliumWeb';
    font-style: normal;
    font-weight: normal;
    src: local('TitilliumWeb-Regular'), url('/assets/fonts/TitilliumWeb/TitilliumWeb-Regular.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */ url('/assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf')
            format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'TitilliumWeb';
    font-style: italic;
    font-weight: normal;
    src: local('TitilliumWeb-Italic'), url('/assets/fonts/TitilliumWeb/TitilliumWeb-Italic.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */ url('/assets/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf')
            format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'TitilliumWeb';
    font-style: normal;
    font-weight: bold;
    src: local('TitilliumWeb-Bold'), url('/assets/fonts/TitilliumWeb/TitilliumWeb-Bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */ url('/assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf')
            format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'TitilliumWeb';
    font-style: italic;
    font-weight: bold;
    src: local('TitilliumWeb-BoldItalic'), url('/assets/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */ url('/assets/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf')
            format('truetype'); /* Safari, Android, iOS */
}

$theme-colors: (
    'primary': #ff0013,
    'secondary': #ffc15e,
    'border': #804f00,
);

$font-family-sans-serif: 'TitilliumWeb';

@import '~bootstrap/scss/variables';

@import '~bootstrap/scss/bootstrap';
@import '~leaflet/dist/leaflet.css';

#level-view-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    grid-template-rows: 100%;
}

.leaflet-container {
    font-family: inherit;
}

#level-view-sidebar {
    background-image: url(../../assets/img/Pattern-Randomized.svg);
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    h1 {
        font-size: 1.4rem;
        text-align: center;
    }
}

.main-menu-bg {
    min-height: 100vh;
    background-size: cover;
    background-image: url(../../assets/img/Pattern-Randomized.svg);
    padding: map_get($spacers, 4);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu {
    max-width: 300px;
    margin: 0 map_get($spacers, 4) map_get($spacers, 4);
    padding: 0 map_get($spacers, 4) map_get($spacers, 4);
    border-radius: $border-radius;
    text-align: center;
}

.btn-primary {
    opacity: 0.7;
    box-shadow: 5px 10px #888888;
}

.inputFields {
    opacity: 0.7;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}
#Password {
    opacity: 0.7;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

#nickname {
    opacity: 0.7;
    box-shadow: 5px 10px #888888;
    border-radius: 5px;
}

.headlineRegistration {
    color: var(--border);
    box-shadow: 1px 8px 3px -7px;
    padding: 5px;
    margin-bottom: 1rem;
}

.input-group-text {
    background: transparent;
    border-color: transparent;
    font-size: larger;
}
.falseInput {
    color: var(--primary);
    border-color: var(--primary);
}

.infoBox {
    font-weight: bold;
    text-align: left;
    color: var(--border);
}

.build-menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: map_get($spacers, 2);
}

.build-menu-card,
.build-menu-card:focus {
    box-shadow: 2px 5px theme-color('border');
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    border-color: theme-color('border');
    background-image: url(../../assets/img/Rose-Petals.svg);
    background-size: cover;
}

.small-menu-card,
.small-menu-card:focus {
    background-image: url(../../assets/img/Rose-Petals.svg);
    background-size: cover;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    border-color: theme-color('border');
    height: 2rem;
    background-color: theme-color('light');
    box-shadow: 1px 2px theme-color('border');
}

.build-costs {
    background: theme-color('border');
    color: theme-color('light');
    padding-top: 3px;
    padding-left: 5px;
    font-weight: bold;
    border-radius: 4px;
    padding-right: 3px;
}

.btn-light {
    background-color: theme-color('light');
    border-radius: 5px;
    border-left-color: black;
    border-left-style: groove;
    border-left-width: 2px;
}

.btn-card {
    padding: 0;
    &:hover:focus:active {
        box-shadow: none !important;
    }
}

#rain-emergency-relief {
    box-shadow: 2px 5px theme-color('border');
    background-image: url(../../assets/img/Rose-Petals.svg);
    background-size: cover;
    border-color: theme-color('border');
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    padding: $btn-padding-y $btn-padding-x;
}

.card-body {
    border-style: solid;
    border-width: 5px;
    border-radius: 0;
    border-color: theme-color('secondary');
    background-color: theme-color('secondary');
    box-shadow: 5px 10px theme-color('border');
}

.modal-content {
    background-size: cover;
    background-image: url(../../assets/img/Pattern-Randomized.svg);
    color: black;
}

.modal-header {
    justify-content: center;
}

#money {
    border-radius: 5px;
    border-left-style: groove;
    border-left-width: 2px;
}

.level-debug-text {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
    font-size: 1.75rem;
    font-weight: bold;
}

@keyframes extinguish-pulse {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
    95% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.extinguish-pulse {
    animation: extinguish-pulse 1s infinite ease-in;
}

@keyframes lava-pulse {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.lava-pulse {
    animation: lava-pulse 1s infinite linear;
}

@keyframes level-locked {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: scale(1) rotate(0deg);
    }
    12.5%,
    62.5% {
        transform: scale(0.95) rotate(-5deg);
    }
    37.5%,
    87.5% {
        transform: scale(1.05) rotate(5deg);
    }
}

.level-locked {
    animation: level-locked 0.3s infinite ease-in-out;
}

.damage-good {
    fill: theme-color('success');
}

.damage-bad {
    fill: theme-color('danger');
}
